n8n-workflows/adapted/03-check-availability.json
{
  "name": "03 - Check Availability",
  "n8nId": "z6DesCwg3EcRJSOm",
  "nodes": [
    {
      "id": "5facb7e5-7c47-439a-b43c-e6dbb1971d53",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 0],
      "parameters": {
        "workflowInputs": {
          "values": [{ "name": "afterTime" }, { "name": "beforeTime" }]
        }
      }
    },
    {
      "id": "8b8eca89-8e2e-48d5-a95f-ef4d9e855e7e",
      "name": "Get many events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [448, 0],
      "alwaysOutputData": true,
      "parameters": {
        "operation": "getAll",
        "calendar": { "__rl": true, "value": "YOUR_GOOGLE_CALENDAR_ID", "mode": "id" },
        "returnAll": true,
        "timeMin": "={{ $json.afterTime }}",
        "timeMax": "={{ $json.beforeTime }}",
        "options": {}
      },
      "credentials": {
        "googleCalendarOAuth2Api": { "id": "YOUR_CALENDAR_CREDENTIAL_ID", "name": "Google Calendar account" }
      }
    },
    {
      "id": "d0135091-5fb1-4efa-81e9-33ba858d044e",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [656, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "76162ee2-92f6-4f5c-9376-3381250f0c9c", "leftValue": "={{ $json.summary }}", "rightValue": "", "operator": { "type": "string", "operation": "exists" } }],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "338c2505-b50c-445f-afd5-3a9839dc2aa9",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [864, 96],
      "parameters": {
        "assignments": { "assignments": [{ "id": "1488c01b-d1e4-4c3c-81a9-7bf579287d71", "name": "message", "value": "the entire window is available", "type": "string" }] },
        "options": {}
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": { "main": [[{ "node": "Get many events", "type": "main", "index": 0 }]] },
    "Get many events": { "main": [[{ "node": "If", "type": "main", "index": 0 }]] },
    "If": { "main": [[], [{ "node": "Edit Fields", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
