n8n-workflows/adapted/04-book-event.json
{
  "name": "04 - Book Event",
  "n8nId": "JGUEl68kBFICuGm0",
  "nodes": [
    {
      "id": "22353052-7c9b-411b-ad39-e5d5d6731775",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "startTime" }, { "name": "endTime" }, { "name": "phone" },
            { "name": "email" }, { "name": "eventSummary" }, { "name": "name" }
          ]
        }
      }
    },
    {
      "id": "a054dc41-ee13-4f97-941c-1b31fd689199",
      "name": "Create an event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [208, 0],
      "parameters": {
        "calendar": { "__rl": true, "value": "7c89c3d720c72c76f803bd1b2a6984dd4b850851eb2c8b56d7d40e12e7c8c071@group.calendar.google.com", "mode": "id" },
        "start": "={{ $json.startTime }}",
        "end": "={{ $json.endTime }}",
        "additionalFields": { "summary": "={{ $json.eventSummary }}" }
      },
      "credentials": {
        "googleCalendarOAuth2Api": { "id": "Hgbr7q8GQoqKxWJC", "name": "Google Calendar account" }
      }
    },
    {
      "id": "df70fe48-af59-4823-be35-cc7106c4f139",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [416, 0],
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1ACKnwQfBPP5pdW6ApQR28ofAC7OqWEtCLjO6p_K4ipw", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Appointment Log", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Phone": "={{ $('When Executed by Another Workflow').item.json.phone }}",
            "Email": "={{ $('When Executed by Another Workflow').item.json.email }}",
            "Appointment Type": "={{ $('When Executed by Another Workflow').item.json.eventSummary }}",
            "Date": "={{ $('When Executed by Another Workflow').item.json.startTime }}",
            "Notes": "Appointment Booked"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "ID", "displayName": "ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Phone", "displayName": "Phone", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Email", "displayName": "Email", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Appointment Type", "displayName": "Appointment Type", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Date", "displayName": "Date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Notes", "displayName": "Notes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "RAF2zpcHHqP20MyA", "name": "Google Sheets account" }
      }
    },
    {
      "id": "b1234abc-book-gmail-node-0001",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [624, 0],
      "parameters": {
        "sendTo": "={{ $('When Executed by Another Workflow').item.json.email }}",
        "subject": "Appointment Confirmed — Naturals Salon Sarjapura",
        "emailType": "text",
        "message": "=Hi {{ $('When Executed by Another Workflow').item.json.name }},\n\nYour appointment at Naturals Salon, Sarjapura is confirmed!\n\nService: {{ $('When Executed by Another Workflow').item.json.eventSummary }}\nDate & Time: {{ $('When Executed by Another Workflow').item.json.startTime }}\n\nAddress: Naturals Salon, Sarjapura, Bangalore\n\nSee you soon!\n— Sagar, Naturals Salon",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": { "id": "R7zU4TkEUFIGs9rg", "name": "Gmail account" }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": { "main": [[{ "node": "Create an event", "type": "main", "index": 0 }]] },
    "Create an event": { "main": [[{ "node": "Append row in sheet", "type": "main", "index": 0 }]] },
    "Append row in sheet": { "main": [[{ "node": "Send Confirmation Email", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
