n8n-workflows/adapted/07-delete-appointment.json
{
  "name": "07 - Delete Appointment",
  "n8nId": "1ItHHrt02x9rxkCT",
  "nodes": [
    {
      "id": "bb49095f-ecdd-48dc-a554-85f483349a21",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "eventID" }, { "name": "email" },
            { "name": "name" }, { "name": "startTime" }
          ]
        }
      }
    },
    {
      "id": "2d98ab9a-90a2-42c9-807e-52cd8589fbcd",
      "name": "Delete an event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [208, 0],
      "parameters": {
        "operation": "delete",
        "calendar": { "__rl": true, "value": "YOUR_GOOGLE_CALENDAR_ID", "mode": "id" },
        "eventId": "={{ $json.eventID }}",
        "options": {}
      },
      "credentials": {
        "googleCalendarOAuth2Api": { "id": "YOUR_CALENDAR_CREDENTIAL_ID", "name": "Google Calendar account" }
      }
    },
    {
      "id": "82b19e29-2a04-40b1-9e3d-c8d9e3d29d8f",
      "name": "Update row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [416, 0],
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEETS_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Appointment Log", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('When Executed by Another Workflow').item.json.eventID }}",
            "Notes": "Cancelled"
          },
          "matchingColumns": ["ID"],
          "schema": [
            { "id": "ID", "displayName": "ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Notes", "displayName": "Notes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "YOUR_SHEETS_CREDENTIAL_ID", "name": "Google Sheets account" }
      }
    },
    {
      "id": "d3456abc-del-gmail-node-0001",
      "name": "Send Cancellation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [624, 0],
      "parameters": {
        "sendTo": "={{ $('When Executed by Another Workflow').item.json.email }}",
        "subject": "Appointment Cancelled — Naturals Salon Sarjapura",
        "emailType": "text",
        "message": "=Hi {{ $('When Executed by Another Workflow').item.json.name }},\n\nYour appointment on {{ $('When Executed by Another Workflow').item.json.startTime }} has been cancelled.\n\nIf you'd like to rebook, feel free to call us anytime!\n\n— Sagar, Naturals Salon",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": { "id": "YOUR_GMAIL_CREDENTIAL_ID", "name": "Gmail account" }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": { "main": [[{ "node": "Delete an event", "type": "main", "index": 0 }]] },
    "Delete an event": { "main": [[{ "node": "Update row in sheet", "type": "main", "index": 0 }]] },
    "Update row in sheet": { "main": [[{ "node": "Send Cancellation Email", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
